body {
    background-color: khaki;
}

#current-color {
    background-color: white;
    height: 30px;
    width: 30px;
    margin: 5px auto;
}


#pallet {
    background-color: white;
    height: 33px;
    width: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#canvas {
    background-color: white;
    height: 200px;
    width: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}